[submodule "submodules/VictoriaMetrics"]
	path = submodules/VictoriaMetrics
	url = git@github.com:VictoriaMetrics/VictoriaMetrics.git
	branch = master
[submodule "submodules/alertmanager"]
	path = submodules/alertmanager
	url = git@github.com:prometheus/alertmanager.git
	branch = main
[submodule "submodules/grafana"]
	path = submodules/grafana
	url = git@github.com:percona-platform/grafana.git
	branch = main
[submodule "submodules/grafana-dashboards"]
	path = submodules/grafana-dashboards
	url = git@github.com:percona/grafana-dashboards.git
	branch = main
[submodule "submodules/pmm"]
	path = submodules/pmm
	url = git@github.com:percona/pmm.git
	branch = main
[submodule "submodules/dbaas-controller"]
	path = submodules/dbaas-controller
	url = git@github.com:percona-platform/dbaas-controller.git
	branch = main
[submodule "submodules/qan-api2"]
	path = submodules/qan-api2
	url = git@github.com:percona/qan-api2.git
	branch = main
[submodule "submodules/mongodb_exporter"]
	path = submodules/mongodb_exporter
	url = git@github.com:percona/mongodb_exporter.git
	branch = main
[submodule "submodules/azure_metrics_exporter"]
	path = submodules/azure_metrics_exporter
	url = git@github.com:percona/azure_metrics_exporter.git
	branch = main
[submodule "submodules/rds_exporter"]
	path = submodules/rds_exporter
	url = git@github.com:percona/rds_exporter.git
	branch = main
[submodule "submodules/postgres_exporter"]
	path = submodules/postgres_exporter
	url = git@github.com:percona/postgres_exporter.git
	branch = main
[submodule "submodules/node_exporter"]
	path = submodules/node_exporter
	url = git@github.com:percona/node_exporter.git
	branch = main
